<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<style>
    .text-white {
        color:white;
        }
    .col-md-12 {
    background-color: #FF7F50;
    font-family: "Times New Roman", Times, serif;
    }
    .navbar-brand {
    font-family: "Times New Roman", Times, serif;
    color: black ;
    font-size: 30px;
    }
</style>


<body style="background-color:black">

<!--    first we''ll create a nav bar -->
<nav class="navbar" style="background-color:#FF7F50">
    <a class="navbar-brand">BOOK-MATE</a>

    <ul class="nav navbar-nav" style="color:white" >

        <li><a href="/" style="color:black">HOME</a></li>
        <li><a href="/recommend" style="color:black">RECOMMEND</a></li>
        <li><a style="color:black">CONTACT</a></li>
    </ul>
</nav>
<!--        now we need to display our 50 books -->

<!--what we'll be doing is our jinja template -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-white" style="font-size:35px">Top 50 Books</h1>
        </div>

        {% for i in range(book_name|length) %}
        <div class="col-md-3" style="margin-top:50px">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="{{ image[i] }}">
                    <h4 class="text-white">{{ book_name[i] }}</h4>
                    <h4 class="text-white">{{ author[i] }}</h4>
                    <h4 class="text-white">Votes - {{ votes[i] }}</h4>
                    <h4 class="text-white">Rating - {{ rating[i] }}</h4>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
</div>

</body>
</html>